#clock{
    font-family: sans-serif;
    font-size: 60px;
    text-shadow: 0px 0px 1px #333;
    color: #fff;
}

.clock-container{
    background-color: rgb(12, 167, 206);
    padding: 25px;
    max-width: 350px;
    text-align: center;
    border-radius: 5px;
    margin: 0px auto;
    margin-top: 10%;
}

#date{
    letter-spacing: 10px;
    font-size: 15px;
}

.animation{
    border: rgb(12, 167, 206) 2px solid;
}